.scence
  .square.squareN
  .tubes
    .tubeT
    .tubeB
  .info
    h2.infoText.title 漂浮方塊
      .square1.squ_ani
    button.start(onclick="game.startGame()") Start
    p.des 使用空白鍵操縱漂浮方塊
  .score
    .high
    .grade 0
  //- .footer
  //-   .floor